.App {
  text-align: center;
  background-color: #FFFFFF;
}

.App p , span {
  color: #003A96;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #FFFF00;
}

.img-container {
  position: relative;
}

.cityText {
  position: absolute;
  bottom: -1em;
  right: 5px;
  font-size: 90%;
}
 .cityText h6 {
  background: -webkit-linear-gradient(#FFAA00, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

