#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1{
  color:#003A96;
  font-weight: normal;
}

h2{
 
  font-weight: normal; 
}

/* li span{
  font-size: larger;
} */


.bar{
  height: 15px;
  width: 85px;
  background-color: #003A96;
}

.bar2{
  height: 5px;
  width: 50px;
  background-color: #003A96;
  margin: auto

}

.slider-container{
  background-color: white;
  border-radius: 30px;  
  /* width:90% */
}



#modal-modal-description, #modal-modal-title{
  color: black;
}

.facebk{
  display: block;
  margin-left: 150px;
}

.infog{
  background: rgb(255,176,0);
  background: linear-gradient(90deg, rgba(255,176,0,1) 0%, rgba(255,255,0,1) 100%);
  height: 20px;
  width: 100px;
}

.cartegamme{

  display:none;
}

.cardStyle{
  border-radius: 20px;
}

.butcolor{
background: linear-gradient(90deg, rgba(255,176,0,1) 0%, rgba(255,255,0,1) 100%);
height: 70px;
width: 96%;
border-radius: 15px;
display: flex;
justify-content: center; 
 margin: 20px}

/* 
.sliderStyle:hover{
  background-color: rgb(219, 238, 255);
} */

.carou:hover{
 cursor: pointer;
 
  }

  /* .carou::after{
    background-color: rgb(199, 14, 14);
  } */

  .carou{
    border-radius: 30px;

    
    
    
    
  }

  @media (max-width: 600px) {
    .textphoto {
      font-size: 2em;
    }
    .textcard{
      font-size: 2.5em;
      text-align: left;
      
    }

    .desc2{
     font-size:2.3em
    }

    #SousTitre{
      font-size:3em;
  } }
  
  /* @media (min-width: 601px) and (max-width: 960px) {
    .textphoto {
      font-size: 2em;
    }
  }
  
  @media (min-width: 961px) {
    .textphoto {
      font-size: 2em;
    }
  } */
 .css-1gqkkr3 .css-5apdrg{
      width: 504px;
      height: 432px;
    }

#contentDesk{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px
}

 @media (max-width: 900px) {
  #contentDesk {
      flex-direction: column;
    }
    .butcolor{
        width: 78%;
        margin-left: 12%;
        height: auto;
      }
      #resumeCard{
        text-wrap: balance;
        font-size: 2.5em;
      }
      .textbutton{
        font-size: 2em;
      }
      
  } 


  /* @media (max-width: 1200px) {
    #containCard1{
      width: 644px;
     
    }
  } */

  /* .textbutton{
    font-size: medium;
  } */

  .slick-dots li.slick-active button:before{
    opacity: 1;
    color:rgba(255,176,0,1)
  }

  #contentDesk a {
    text-decoration: none;
    color: inherit;
  }
  

  .Surbutcolor:hover{
    background: linear-gradient(90deg, #003A96 0%, rgb(109, 171, 233) 100%);
    color: white;
  }



  .slick-prev:before, .slick-next:before{
    font-size: 45px;
  }

  .slick-prev{
    left: -48px;
  }

  #resumeCard{
    font-weight: 600;
  }

  @keyframes shake {
    0%, 100% { transform: rotateX(0deg) rotateY(0deg); }
    25% { transform: rotateX(15deg) rotateY(-15deg); }
    50% { transform: rotateX(0deg) rotateY(0deg); }
    75% { transform: rotateX(-15deg) rotateY(15deg); }
  }
  
  
  
  .shake {
    animation: shake 1s infinite;
    
  }

  .css-46bh2p-MuiCardContent-root{
    padding:10px;
  }


  /* Styling the header message */

  .text-header-dynamic {
    max-width: 100%;                      /* largeur de la fenêtre */
    margin: 1em auto 2em;
    /* border: 2px solid #F0F0FF; */
    overflow: hidden;                     /* masque tout ce qui dépasse */
    box-shadow: 0 .25em 3em rgba(204,204,204,0.1),inset 0 0 1em .25em rgba(204,204,204,0.1);
  }

  .text-header-dynamic > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 30s infinite linear;
  }

  @keyframes defilement-rtl {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }